.category-select-list-wrapper {
  margin: 1.5rem 0;
  border: 1px solid #a09d9d5e;
  border-radius: 5px;
  width: 250px;
  max-height: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background-color: #848688;

    &:hover {
      background-color: #464747;
    }
  }
}

.category-select-div-wrapper {
  margin: 0.5rem 0 0.2rem 0;
  border: 1px solid #352f6b;
  border-radius: 3px;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  background-color: #ebedf2;
  span {
    display: inline-block;
    padding: 0.7rem;
  }
}

.category-not-selected {
  justify-content: flex-start;
}
