$innerBorder: 1px solid lightgray;
$outerBorder: 2px solid lightgray;
@mixin font-bold {
  font-weight: bold;
  font-size: 20px;
}

.duration-config-container {
  border: $outerBorder;
}
.duration-config-title {
  @include font-bold();
  padding: 15px;
  border-bottom: $innerBorder;
}
.duration-config {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 1fr;

  .duration-title {
    background-color: rgb(245, 240, 240);
    padding: 10px;
    font-weight: 400;
    border-right: $innerBorder;
    max-width: 140px;
  }
  .duration-title:nth-child(1) {
    border-bottom: $innerBorder;
  }

  .duration-config-detail {
    line-height: 30px;
    padding: 10px;
  }

  .duration-config-detail:nth-child(2) {
    border-bottom: $innerBorder;
  }
}
