.container {
  margin: 20px auto;
  border: 1px solid #4545453a;

  .title {
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid #4545453a;
    font-weight: bold;
    font-size: 13px;
  }

  .imgAddContainer {
    display: flex;
    padding: 20px;

    .imageAddBtn {
      height: 33px;
      padding: 7px 20px;
      border: 1px solid;
      background-color: white;
      font-size: 12px;
      cursor: pointer;
    }

    .imgName {
      margin-left: 30px;
      height: 30px;
      line-height: 33px;
      font-size: 13px;

      .deleteBtn {
        margin-left: 12px;
        padding: 2px 4px;
        background-color: white;
        border: 1px solid #a09d9d5e;
        border-radius: 15px;
        line-height: 10px;
        font-size: 9px;
        cursor: pointer;
      }
    }
  }
}
