.item-layout {
  margin: 0 auto;
  width: 95%;

  .delete-btn-area {
    display: flex;
    justify-content: end;
    button {
      margin-bottom: 10px;
      padding: 5px 12px;
      width: 60px;
      font-size: 12px;
      color: red;
      border: 1px solid red;
      border-radius: 3px;
      background-color: #fff;
      cursor: pointer;
    }
  }
  .item-set-container {
    margin-bottom: 80px;
    padding: 15px;
    border: 1px solid #dcdcdc;
    background-color: #fff;

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 220px;
      flex-wrap: wrap;
      overflow: hidden;
      background-color: #f5f5f5;
      border: 1px solid #dcdcdc;

      .onload-image {
        object-fit: cover;
      }

      .input-image-btn {
        border-radius: 5px;
        padding: 12px 30px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.1em;
        background-color: transparent;
        border: 1px solid #00008b;
        cursor: pointer;
      }
      input {
        display: none;
      }
    }
    footer {
      .add-option-btn {
        margin-bottom: 20px;
        padding: 15px;
        width: 100%;
        font-size: 13px;
        color: #000;
        font-weight: 600;
        background-color: #fff;
        border: 1px solid #00008b;
        cursor: pointer;
      }
    }
  }
}
