$default-border: 2px solid lightgray;
$default-padding: 10px;

.main-layout {
  margin: 30px auto;
  max-width: 1200px;
  height: 800px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 50px 40px 10fr;
  grid-template-areas:
    'title .'
    'menu save'
    'menu form';
  > div {
    margin: 0px;
  }
  .sirloin-logo {
    border-right: $default-border;

    grid-area: title;
    display: flex;
    align-items: center;
    padding: $default-padding;
    img {
      width: 100px;
    }
  }
  .sirloin-menu {
    grid-area: menu;
    border-top: $default-border;
    border-right: $default-border;
  }
  .sirloin-save {
    position: relative;
    grid-area: save;
    border-top: $default-border;
    border-bottom: $default-border;
    padding: $default-padding;
    display: flex;
    align-items: center;
  }
  .sirloin-form {
    grid-area: form;
    overflow: auto;
    padding: 20px;
    .test {
      margin: 1px;
      height: 300px;
      border: 1px solid black;
    }
  }
}

.save-container {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;

  .btn-save {
    margin-left: auto;
    margin-right: 10px;
    font-weight: inherit;
    font-size: 13px;
    width: 70px;
    background-color: rgb(40, 6, 161);
    color: white;
    border: none;
    border-radius: 3px;
    height: 30px;
    cursor: pointer;
  }
}
