.part-three {
  .item-container {
    background-color: #efefef;
    border: 1px solid #dcdcdc;
    .container-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
      height: 40px;
      background-color: #fff;
      border-bottom: 1px solid #dcdcdc;
      h2 {
        padding-left: 20px;
        font-size: 1.1rem;
        color: #000;
        font-weight: 600;
      }
      .add-option-btn {
        padding: 0 15px;
        height: 100%;
        border: 1px solid #352f6b;
        border-radius: 5px;
        background-color: transparent;
        font-size: 11px;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .inven-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 550px;
      background-color: transparent;
      padding-bottom: 200px;

      p {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.1em;
      }
    }

    .delete-inven-area {
      height: 40px;
      .delete-btn {
        margin: 0 25px;
        padding: 10px 20px;
        font-size: 12px;
        color: red;
        border: 1px solid red;
        border-radius: 3px;
        background-color: #fff;
        float: right;
        cursor: pointer;
      }
    }
  }
}
