$defaultinfo-border: 1px solid #4545453a;
$defaultinfo-title-background: #efefef;

.defaultinfo-wrapper {
  margin: 20px auto;
  border: $defaultinfo-border;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1.5fr;
  grid-template-areas:
    'title title title title'
    'category-title category-content category-content category-content'
    'filter-tag-title filter-tag-content filter-tag-content filter-tag-content'
    'product-name-title product-name-content product-code-title product-code-content'
    'product-detail-title product-detail-content product-detail-content product-detail-content'
    'product-thumbnail-title product-thumbnail-content product-thumbnail-content product-thumbnail-content'
    'product-image-title product-image-content product-image-content product-image-content'
    'product-total-stock-title product-total-stock-content product-total-stock-content product-total-stock-content';
  > div:not(:nth-last-child(-n + 2)) {
    border-bottom: $defaultinfo-border;
  }
  > div:nth-child(even) {
    border-right: $defaultinfo-border;
  }
  input {
    padding: 12px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
  }
}

.title {
  grid-area: title;
  font-weight: bold;
  padding: 10px 20px;
  width: 100%;
  font-size: 1.1rem;
}

.category-title {
  grid-area: category-title;
  padding: 20px;
  background-color: $defaultinfo-title-background;
}

.category-content {
  grid-area: category-content;
  display: flex;
  flex-direction: row;
}

.filter-tag-title {
  grid-area: filter-tag-title;
  padding: 20px;
  background-color: $defaultinfo-title-background;
}

.filter-tag-content {
  grid-area: filter-tag-content;
  padding: 10px 20px;
  position: relative;
}

.product-name-title {
  grid-area: product-name-title;
  padding: 20px;
  background-color: $defaultinfo-title-background;
}

.product-name-content {
  grid-area: product-name-content;
  border-right: $defaultinfo-border;
  padding: 10px 20px;
}

.product-code-title {
  grid-area: product-code-title;
  padding: 20px;
  background-color: $defaultinfo-title-background;
}

.product-code-content {
  grid-area: product-code-content;
  padding: 20px;
}

.product-detail-title {
  grid-area: product-detail-title;
  padding: 20px;
  background-color: $defaultinfo-title-background;
}

.product-detail-content {
  grid-area: product-detail-content;
  padding: 10px 20px;
}

.product-thumbnail-title {
  grid-area: product-thumbnail-title;
  padding: 20px;
  background-color: $defaultinfo-title-background;
}

.product-thumbnail-content {
  grid-area: product-thumbnail-content;
}

.product-image-title {
  grid-area: product-image-title;
  padding: 20px;
  background-color: $defaultinfo-title-background;
}

.product-image-content {
  grid-area: product-image-content;
}

.product-total-stock-title {
  grid-area: product-total-stock-title;
  padding: 20px;
  background-color: $defaultinfo-title-background;
}

.product-total-stock-content {
  grid-area: product-total-stock-content;
  padding: 20px;
}

.search-button {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #352f6b;
  margin: 12px;
  margin-right: 20px;
  border-radius: 3px;
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  background-color: #ffffff;
  max-height: 30px;
}

.filter-div {
  width: 730px;
  height: 150px;
  margin: auto;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #a09d9d5e;
  border-radius: 3px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background-color: #848688;

    &:hover {
      background-color: #464747;
    }
  }

  .filter-search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div {
      width: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      margin: 3px;
    }
  }
}

.non-selected-tag {
  background-color: #e8f7d4;
  border-radius: 3px;
  border: none;
  height: 30px;
  width: 100%;
  cursor: pointer;
}

.selected-tag-wrapper {
  width: 730px;
  height: 150px;
  margin: auto;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #a09d9d5e;
  border-radius: 3px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background-color: #848688;

    &:hover {
      background-color: #464747;
    }
  }
  span {
    display: inline-block;
    margin: 10px;
    margin-top: 20px;
  }
}

.selected-tag-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  div {
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 10px;
    margin-right: 0px;
  }
}

.selected-tag {
  background-color: #e8f7d4;
  border-radius: 3px;
  border: none;
  height: 30px;
  width: 100%;
  cursor: pointer;
}

.non-existent-keyword {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  div {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 3px;
  }
}
